<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.moc.coffeecomplication">

    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:name=".CoffeeComplicationApp"
        android:allowBackup="true"
        android:label="CoffeeComplication"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name=".CoffeeComplicationProviderService"
            android:label="Coffee Complication"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON"
               />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="60"/>
        </service>
        <service android:name="com.test.moc.coffeefirebasemessaging.firebaseMessagingService.CoffeeFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".CoffeeComplicationTapBroadcastReceiver"/>
    </application>
</manifest>
